@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;
    user-select: none;
    line-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: #FFF;
}

.container, .showDispatch{
    width: 430px;
    height: fit-content;
    max-height: 100%;
    overflow-y: scroll;
    position: absolute;
    right: 60px;
    top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &.container .dispatch{
        transform: translateX(500px);
    }

    &.showDispatch{
        left: 60px !important;
        padding-bottom: 120px;
    }
    
    &::-webkit-scrollbar {
        width: 0px;
    }

    .dispatch{
        padding: 14px;
        border-radius: 5px;
        border: 1px solid #2E2E2E;
        background: rgba(21, 21, 24, 0.9);
        position: relative;
        transition: transform 0.6s cubic-bezier(0,.99,.45,.94);
        box-shadow: 0 0 1px 0 #2E2E2E;

        .header{
            width: 100%;
            height: 26px;
            display: flex;
            align-items: center;
            position: relative;

            .icon{
                position: absolute;
                right: 0;
            }

            .title{
                color: #CFCFCF;
                font-size: 15px;
                font-weight: 700;
            }
            
            .count, .code{
                height: 24px;
                border-radius: 5px;
                border: 1px solid #2E2E2E;
                background: rgba(84, 84, 84, 0.10);
                box-shadow: 0 0 1px 0 #2E2E2E;
                margin-right: 5px;
                color: #CFCFCF;
                font-size: 13px;
                font-weight: 700;
                display: flex;
                justify-content: center;
                padding: 0 14px;
                align-items: center;
            
                &.code{
                    margin-right: 8px;
                }
            }
        }

        .info-wrapper{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: fit-content;
            gap: 8px;
            margin-top: 10px;

            .info{
                display: flex;
                gap: 5px;
                font-size: 12px;

                .icon{
                    width: 10px;
                }
            }
        }

        .time-sent{
            position: absolute;
            right: 14px;
            bottom: 14px;
            display: flex;
            gap: 5px;
            color: rgba(207, 207, 207, 0.5);
            font-size: 12px;
            align-items: center;
        }
    }
}